@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --color-primary: #000814;
    --color-secundary: #001D3D;
    --background-one: #FFC300;
    --background-two: #FFD60A;
    --background-three: #003566;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}
